<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="styles.css" rel="stylesheet" />
  <!-- development version, includes helpful console warnings -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body class="scoreboard">
  <div id="app">
    <h1 class="scoreboard-header">{{team1Name}} vs {{team2Name}}</h1>

    <div class="scoreboard-cards">
      <div class="card">
        <h2>{{team1Name}}</h2>
        <h3>{{team1Score}}</h3>
        <button v-on:click="team1Score -= scoreIncreaseAmount">-</button>
        <button v-on:click="team1Score += scoreIncreaseAmount">+</button>
      </div>

      <div class="card">
        <h2>{{team2Name}}</h2>
        <h3>{{team2Score}}</h3>
        <button v-on:click="team2Score -= scoreIncreaseAmount">-</button>
        <button v-on:click="team2Score += scoreIncreaseAmount">+</button>
      </div>
    </div>

    <div class="settings">
      <button v-on:click="show" ref="settings">Open settings</button>
      <div v-if="showSettings">
        <div>
          Team 1 name: <input type="text" v-model="team1Name" />
        </div>
        <div>
          Team 2 name: <input type="text" v-model="team2Name" />
        </div>
        <div>
          -/+ amount: <input type="number" v-bind:value="scoreIncreaseAmount" v-on:change="updateIncreaseAmount" />
        </div>
        <button v-on:click="resetScores">Reset scores</button>
      </div>
    </div>

  </div>
  <script src="index.js"></script>
</body>

</html>