.scoreboard {
  text-align: center;
}

.scoreboard-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card {
  border: 2px solid black;
}

.card button {
  font-size: 1.5rem;
}

h1,
h2,
h3 {
  font-size: 3.5rem;
}

.settings {
  margin-top: 24px;
}

@media only screen and (max-width: 768px) {

  /* For mobile phones: */
  .scoreboard-cards {
    display: grid;
    grid-template-columns: 1fr;
  }
}